.suggestions {

  margin-top: 30px;
  margin-right: 20px;
}

.suggestions__title {

 color: gray;
 font-weight: bold
}

.usename__left {

  display: flex;
  flex-direction: row;
  align-items: center;
}

.username__info {

 display: flex;
 flex-direction: column;
}

.relation {

  color: gray;
  font-size: 12px;
}

.suggestion__userName {

  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.follow__button {

  color: #0095f7;
  font-weight: bold;
  background: 0;
  border: 0;
}

.follow__button:hover {

  cursor: pointer;
  color: white;
}

.usename {

  font-weight: 600;
  font-size: 14px;
}

.avatar {

  margin-right: 10px;
}